<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inserción de una planificación desde formulario - Jilorio</title>
    <link rel="shortcut icon" href="https://doorcountypulse.com/wp-content/uploads/2020/03/forkspoon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/dish.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/fondo3.css" />


    <!-- JQUERY AUTOCOMPLETE -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
 

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

            <!-- JQUERY AUTOCOMPLETE -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
    <%- include ("../partials/navigation.ejs"); %>


    <div class="container">
        <div class="cardInside2">
            <h1><%= items.myObject.planificacion.title %></h1>
        </div>
        <br>
        <%- include ("../partials/message.ejs"); %>

        <div class="card">
            <form method="POST" , id="aux" action='./insert'>
                <br>
                <% for (var i=0; i< items.myObject.planificacion.form.length; i++) { %>
                <label><%= items.myObject.planificacion.form[i].label %></label><span class="required">*</span>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">

                        <span class=" spanColor input-group-text"><i
                                class=" <%= items.myObject.planificacion.form[i].icon %>"></i></span>

                    </div>
                    <input id="<%= items.myObject.planificacion.form[i].id %>"
                        type="<%= items.myObject.planificacion.form[i].type %>" class=" myInputs form-control"
                        placeholder="<%= items.myObject.planificacion.form[i].placeholder %>"
                        aria-label="<%= items.myObject.planificacion.form[i].ariaLabel %>"
                        aria-describedby="basic-addon1" name="<%= items.myObject.planificacion.form[i].name %>"
                        #<%= items.myObject.planificacion.form[i].name %> required>
                </div>
                <% } %>
                <% for (var i=0; i< items.myObject.planificacion.formNumber.length; i++) { %>
                <label><%= items.myObject.planificacion.formNumber[i].label %></label><span class="required">*</span>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">

                        <span class=" spanColor input-group-text"><i
                                class=" <%= items.myObject.planificacion.formNumber[i].icon %>"></i></span>

                    </div>
                    <input type="<%= items.myObject.planificacion.formNumber[i].type %>"
                        class=" myInputs days form-control" id="myNumberDays"
                        placeholder="<%= items.myObject.planificacion.formNumber[i].placeholder %>"
                        aria-label="<%= items.myObject.planificacion.formNumber[i].ariaLabel %>"
                        aria-describedby="basic-addon1" name="<%= items.myObject.planificacion.formNumber[i].name %>"
                        #<%= items.myObject.planificacion.formNumber[i].name %>
                        min="<%= items.myObject.planificacion.formNumber[i].min %>" required>
                </div>
                <% } %>
                <div class="cardInside" style="display: none;" id="referencia">
                    <div class="dinamico"></div>
                </div>

                <br><br>
                <div class="requiredSpan">
                    <span class="text-muted requiredSpan"><%= items.myObject.required %></span><span
                        class="required">*</span>
                </div>
                <br>




                <input type="submit" id="mySubmit" class="btn btn-info" value="Submit" />



        </div>


        <script>



            var valueDay = $("#myNumberDays").val();

            const referencia = document.querySelector('#referencia');
            const dinamico = document.querySelector('.dinamico');

            $("#myNumberDays").on('change keyup', function () {

                // if ((this.value !== valueDay) && (this.valueDay !== "0")) {
                let nSelects = document.querySelectorAll("input[type='number']");
                console.log("valueDay " + $("#myNumberDays").val() + " type " + typeof (valueDay));
                console.log("value " + this.value + " type " + typeof (this.value));
                createDays(this.value, nSelects.length);
                // }
            });


            function createDays(valueDay, tam) {


                var div = $(".dinamico");

                console.log(tam)
                console.log(valueDay)
                console.log("------")
                if (div.length > 0) {
                    div.find(".removingThen").remove();
                    referencia.style.display = "none";
                } else {
                    // console.log("No existe la caja previamente creada.");
                }

                const value = parseInt(valueDay);

                if (value !== 0) {
                    for (let i = 1; i <= value; i++) {


                        const myDiv = document.createElement("DIV");
                        myDiv.classList.add("removingThen");

                        myDiv.classList.add("cardInside2");
                        const mySpan = document.createElement("SPAN");
                        mySpan.innerHTML = "<%=items.myObject.tablaPlanificacion.tablaDetalles[0] %>: " + (i);
                        const myDivMenu = document.createElement("DIV");
                        myDivMenu.style.marginTop = "5px";
                        myDivMenu.style.marginBottom = "20px";
                        myIMenus = document.createElement("INPUT")
                        myIMenus.setAttribute("type", "number");
                        myLabelMenus = document.createElement("LABEL")
                        myLabelMenus.innerHTML = "Introduce el número de menús:";
                        myLabelMenus.classList.add("required2")
                        myIMenus.setAttribute("placeholder", "Número de menús ");
                        myIMenus.setAttribute("name", "menuDays[]");
                        myIMenus.setAttribute("min", 1);
                        myIMenus.required = true;
                        myIMenus.classList.add("menuDays" + i);
                        myIMenus.classList.add("comun");
                        myIMenus.classList.add("form-control");
                        const otro = document.createElement("DIV");
                        otro.classList.add("removingThen");
                        otro.classList.add("global" + i);

                        let variable = "menuDays" + i;

                        myDivMenu.classList.add("removingThen")
                        myLabelMenus.style.display = "block"
                        myDivMenu.appendChild(myLabelMenus);
                        myDivMenu.appendChild(myIMenus);
                        otro.appendChild(myDivMenu)
                        myDiv.appendChild(mySpan);
                        dinamico.appendChild(myDiv);
                        dinamico.appendChild(otro);
                        referencia.style.display = "block";
                    }
                    const loop = document.querySelectorAll(".comun");
                    let j = 0;
                    // let index = 0;
                    for (let item of loop) {
                        j++;
                        let variable = "global" + j;
                        let prueba = "prueba" + j;
                        item.addEventListener("change", () => {

                            console.log("item.balue " + item.value)
                            console.log("query " + document.querySelectorAll(".selectMenu").length)
                            const todos = document.querySelectorAll("." + prueba);
                            console.dir(todos);
                            for (uno of todos) {
                                uno.remove();
                            }
                            item.style.background = "rgb(170, 221, 170)"
                            createSelectForMenus(item.value, variable, prueba)
                        });
                    }
                }
            }

            function createSelectForMenus(value, variable, prueba) {
                // console.log("EN CREATE MENUS CON " + j);

                for (let i = 1; i <= value; i++) {
                    let idMenus = "selectMenu" + i;
                    const divSelect = document.createElement("DIV");
                    divSelect.classList.add("lista2");
                    const Select = document.createElement("SELECT");
                    Select.setAttribute("id", idMenus);
                    Select.classList.add("selectMenu");
                    const padre = document.querySelector("." + variable);

                    divSelect.appendChild(Select);
                    divSelect.classList.add("removingThen");
                    divSelect.classList.add(prueba);
                    Select.classList.add("mySelect");
                    Select.classList.add("form-control");
                    Select.style.marginBottom = "15px";
                    padre.appendChild(divSelect);
                    // console.log(padre);
                    ajaxGetMenus();
                }

            }

            function ajaxGetMenus() {

                $.ajax({
                    type: "GET",
                    url: "create/load/menus",
                    success: function (result) {

                        $('.lista2 select').empty();
                        // console.log("TAMAÑO------------> " + $('.lista2 select').length)
                        // if ($('.lista2 select').length === 0) {
                        $.each(result, function (i, menu) {
                            $('.lista2 select').append("<option value='" + menu._id + "'>" + menu._id)
                        });
                        // }
                    },

                });
            };


            $("#aux").submit(function (event) {

                event.preventDefault();
                ajaxPost();
            });


            function ajaxPost() {
                const vectorMenus = [];

                const comun = document.querySelectorAll(".comun");

                for (uno of comun) {
                    console.dir("Valor de uno: " + uno.value);
                    if (uno.value === "") {
                        vectorMenus.push(0)
                    } else {
                        vectorMenus.push(parseInt(uno.value));

                    }
                }


                const vectorMenusCandidatos = [];
                const array = document.querySelectorAll(".selectMenu");

                for (let item of array) {
                    console.log(item.value);
                    vectorMenusCandidatos.push(item.value);
                }

                // PREPARE FORM DATA
                var formData = {
                    _id: $("#_id").val(),
                    description: $("#description").val(),
                    days: $("#myNumberDays").val(),
                    nMenus: vectorMenus,
                    NombreMenus: vectorMenusCandidatos
                }

                // DO POST
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "create/load/post",
                    data: JSON.stringify(formData),
                    dataType: 'json',
                    success: function (docs) {
                        console.log("SUCCES: " + docs)
                        window.location.href = "/planification/view";

                    },
                    error: function (e) {
                        console.log("ERROR: ", e);
                    }
                });



            }


        </script>


        </form>
<br>

        <% const  nombres_sz=  items.myObject.tablaMenusReducida.nombres.length %>
        <% const  nombres=  items.myObject.tablaMenusReducida.nombres %>
        <% const  docs_sz =   items.myDocs.length %>
        <% const  docs =   items.myDocs %>

        <div class="cardInside3">
        <table id="planification" class="table table-bordered table-striped table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <% for (var i=0; i< nombres_sz; i++) { %>
                    <th scope="col"><%= nombres[i] %></th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <% for (var i=0; i < docs_sz; i++) { %>
                    <td> <%= docs[i]._id %> </td>
                    <td>
                        <% for (var j=0; j < docs[i].dishes.length; j++) { %>
                        <%=docs[i].dishes[j]._id%>

                        <% if( (j+1) < docs[i].dishes.length) {  %>
                        <%= "|   "  %>
                        <% } %>

                        <% } %>
                    <td><%= items.myNutrientsMenu[i][1] %> </td>

                </tr>
                <% } %>
            </tbody>
        </table>

    </div>
        <br>
</div>
    <%- include ("../partials/footer.ejs"); %>


    </div>
</body>

<script>
    $(document).ready(function () {
        $('#planification').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
                "emptyTable": " "
            },
            "pagingType": "simple",
        });

    });
</script>

<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

</html>