<!DOCTYPE html>
<html lang="en">

<head>
    <title>Información detallada de una recomendación dietética - Jilorio</title>
    <link rel="shortcut icon" href="https://doorcountypulse.com/wp-content/uploads/2020/03/forkspoon.png">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/food.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/dish.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/fondo.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <!-- JQUERY AUTOCOMPLETE -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
    <%- include ("../partials/navigation.ejs"); %>
    <div class="container">
    
        <div class="infoPage">
            <i class="fas fa-list-alt fa-2x"></i>
            <span> <%= items.myDocs._id %> </span>
        </div>
        <hr style="border-color: rgb(46, 115, 124); border: 1.5px solid  rgb(46, 115, 124);">
        
        <div class="row cont justify-content-between">
            <div class="col-sm " style="margin-right: 100px;" >
                <p class="descriptionRec"> <%= items.myDocs.description %> </p>
               
            </div>
            <div class="col-sm" style="margin-left: 100px; margin-right: 15px; ">
                <p class="descriptionRec edad">  <%=items.myObject.tablaRecomendacionDetails.edad %> <%= items.myDocs.edad %> </p>
            </div>
        </div>
 
    <br><br>

    <div class="cardInside3">
        <span class="detailsSpan"><%= items.myObject.tablaRecomendacionDetails.title %></span>
    </div>
        <% if ((items.myObject.tablaRecomendacionDetails.valores.length) > 0) { %>
            <table id="alimentos" class="table table-bordered table-hover table-sm">
                <thead class="thead-dark">
                    <tr>

                        <% for (var i=0; i< items.myObject.tablaRecomendacionDetails.nombres.length; i++) { %>
                        <th> <%- items.myObject.tablaRecomendacionDetails.nombres[i] %> </th>
                        <% } %>

                    </tr>
                </thead>
                <tbody>

         

                    <tr>
                        <% for (var j=0; j< items.myObject.tablaRecomendacionDetails.valores.length; j++) { %>
                        <% if ((items.myDocs[items.myObject.tablaRecomendacionDetails.valores[j]]) === "") { %>
                        <td> - </td>
                        <% } else { %>
                        <td> <%= items.myDocs[items.myObject.tablaRecomendacionDetails.valores[j]] %> </td>
                        
                        <% } %>
                       
                        <% } %>
                      
                    </tr>
          
                </tbody>
     

            </table>
            <% } %>
    </div>
    <%- include ("../partials/footer.ejs"); %>

  
</body>


</html>