<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
</head>

<body>
    <%- include ("../partials/navigation.ejs"); %>
    <div class="container">
        <h1><%= items.myObject.register.title %></h1>
        <%- include ("../partials/message.ejs"); %>
        <form method="POST" , action='./register'>
            <br> <br> <br>
            <% for (var i=0; i< items.myObject.register.form.length; i++) { %>
                <label><%= items.myObject.register.form[i].label %></label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <% if (items.myObject.register.form[i].name === "username")  {%>
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <% } else {%>
                        <span class="input-group-text" id="basic-addon1"><i
                                class="<%= items.myObject.register.form[i].icon %>"></i></span>
                        <% } %>
                    </div>
                    <input type="<%= items.myObject.register.form[i].type %>" class="form-control"
                        placeholder="<%= items.myObject.register.form[i].placeholder %>"
                        aria-label="<%= items.myObject.register.form[i].ariaLabel %>" aria-describedby="basic-addon1"
                        name="<%= items.myObject.register.form[i].name %>" #<%= items.myObject.register.form[i].name %>
                        required>
                </div>
            <% } %>
            <br>
            <button type="submit"><%= items.myObject.register.button %></button>

        </form>
    </div>
    <%- include ("../partials/footer.ejs"); %>
</body>


</html>