<!DOCTYPE html>
<html lang="en">

<head>
    <title>Usuarios registrados en la aplicación - Jilorio</title>
    <link rel="shortcut icon" href="https://doorcountypulse.com/wp-content/uploads/2020/03/forkspoon.png">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/food.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/dish.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">


</head>

<body>
    <%- include ("../partials/navigation.ejs"); %>
    <div class="container">
        <div class="infoPage">
            <i class="fas fa-list-alt fa-2x"></i>
            <span> <%= items.myObject.infoPage.users %> </span>
        </div>


        <hr style="border-color: rgb(46, 115, 124);">
        <div class="alerts">
            <%- include ("../partials/message.ejs"); %>
        </div>
        <br>
        <form method="POST">
            <div class="wrap">
                <div class="search">
                    <input type="text" name="_id" class="searchTerm" placeholder="<%= items.myObject.busqueda %>">
                    <a id="submit-form-link" href="#"></a>
                    <button type="submit" class="spanColor searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <br><br>

        <% const  nombres_sz=  items.myObject.tablaUsers.nombres.length %>
        <% const  nombres=  items.myObject.tablaUsers.nombres %>
        <% const  docs_sz =   items.myUsers.length %>
        <% const  docs =   items.myUsers %>

        <table class="table table-bordered table-striped table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <% for (var i=0; i < nombres_sz; i++) { %>
                    <th><%= nombres[i] %></th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% for (var i=0; i < docs_sz; i++) { %>
                <tr>
                    <% for (var j=0; j< items.myObject.tablaUsers.valores.length; j++) { %>
                    <td> <%= items.myUsers[i][items.myObject.tablaUsers.valores[j]] %> </td>

                    <% } %>
         
                    <td> <button type="button" class="btn btn-danger"><a title="Eliminar"
                                href="/users/delete/<%=docs[i]['_id']%>"> <i class="fas fa-trash-alt"></i></a></button>
                                <input id="_id" name="_id" type="hidden" value="xm234jq">
                                
                        <button type="submit" class="btn btn-warning"><a title="Editar" href="/users/update/<%=docs[i]['_id']%>"><i
                                    class="fas fa-edit"></i></a></button></td>
                </tr>
                <% } %>
            </tbody>
        </table>

    </div>
    <%- include ("../partials/footer.ejs"); %>
</body>


</html>