<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inserción de un plato desde formulario - Jilorio</title>
    <link rel="shortcut icon" href="https://doorcountypulse.com/wp-content/uploads/2020/03/forkspoon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/dish.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/fondo3.css" />

    <!-- JQUERY AUTOCOMPLETE -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



</head>

<body>
    <%- include ("../partials/navigation.ejs"); %>


    <div class="container">
        <div class="cardInside2">
        <h1><%= items.myObject.dish.title %></h1>
        <%- include ("../partials/message.ejs"); %>
        </div>
        <div class="card">
            <form method="POST" , id="aux" action='./insert'>
                <br>
                <% for (var i=0; i< items.myObject.dish.form.length; i++) { %>
                <label><%= items.myObject.dish.form[i].label %></label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">

                        <span class=" spanColor input-group-text"><i
                                class=" <%= items.myObject.dish.form[i].icon %>"></i></span>

                    </div>
                    <input type="<%= items.myObject.dish.form[i].type %>" class="form-control"
                        placeholder="<%= items.myObject.dish.form[i].placeholder %>"
                        aria-label="<%= items.myObject.dish.form[i].ariaLabel %>" aria-describedby="basic-addon1"
                        name="<%= items.myObject.dish.form[i].name %>" #<%= items.myObject.dish.form[i].name %>
                        required>
                </div>
                <% } %>
                <br>
                <div class="cardInside">
                    <div class="ref">
                        <div class="row">
                            <% for (var i=0; i< items.myObject.dish.formIngredientes.length; i++) { %>
                            <div class="col-sm">
                                <label class="myLabels"><%= items.myObject.dish.formIngredientes[i].label %></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class=" spanColor input-group-text"><i
                                                class=" myIcons <%= items.myObject.dish.formIngredientes[i].icon %>"></i></span>
                                    </div>
                                    <% if (items.myObject.dish.formIngredientes[i].label === "Cantidad") { %>
                                    <input class="MyInputs" type="<%= items.myObject.dish.formIngredientes[i].type %>"
                                        class="form-control"
                                        placeholder="<%= items.myObject.dish.formIngredientes[i].placeholder %>"
                                        aria-label="<%= items.myObject.dish.formIngredientes[i].ariaLabel %>"
                                        aria-describedby="basic-addon1"
                                        name="<%= items.myObject.dish.formIngredientes[i].name %>"
                                        min=<%= items.myObject.dish.formIngredientes[i].min %> required>
                                    <%  } else { %>
                                    <input class="MyInputs searchIngredient"
                                        type="<%= items.myObject.dish.formIngredientes[i].type %>" class="form-control"
                                        placeholder="<%= items.myObject.dish.formIngredientes[i].placeholder %>"
                                        aria-label="<%= items.myObject.dish.formIngredientes[i].ariaLabel %>"
                                        aria-describedby="basic-addon1"
                                        name="<%= items.myObject.dish.formIngredientes[i].name %>" required>
                                    <% } %>
                                </div>
                            </div>
                            <% } %>
                            <% for (var i=0; i< items.myObject.dish.formIngredientesSel.length; i++) { %>
                            <div class="col-sm">
                                <label class="myLabels"><%= items.myObject.dish.formIngredientesSel[i].label %></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class=" spanColor input-group-text"><i
                                                class="  myIcons <%= items.myObject.dish.formIngredientesSel[i].icon %>"></i></span>
                                    </div>

                                    <select class="mySelects form-control"
                                        name="<%= items.myObject.dish.formIngredientesSel[i].name %>">
                                        <% for (var j=0; j< items.myObject.dish.formIngredientesSel[i].options.length; j++) { %>
                                        <option value="<%= items.myObject.dish.formIngredientesSel[i].options[j] %>">
                                            <%= items.myObject.dish.formIngredientesSel[i].options[j] %> </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>

                    <input type="button" class="btn btn-dark" value="Añadir ingrediente" id="bSubmit">
                </div>

                <script>

                    const bSubmit = document.querySelector('#bSubmit');
                    bSubmit.addEventListener('click', () => {
                        const ing = document.querySelector('.searchIngredient');
                        const inputs = document.querySelectorAll(".MyInputs");
                        const myLabels = document.querySelectorAll(".myLabels");
                        const myIcons = document.querySelectorAll(".myIcons");
                        const selects = document.querySelectorAll(".mySelects")

                        createNewInputs(inputs, myLabels, myIcons, selects);
                    });

                    function createNewInputs(inputs, myLabels, myIcons, selects) {
                        const padre = document.querySelector(".ref");
                        const divRow = document.createElement("DIV");
                        let k = 0;
                        for (let i = 0; i < myLabels.length; i++) {
                            const col = document.createElement("DIV");
                            const aLabel = document.createElement("LABEL");
                            console.log(myLabels[i].innerHTML)
                            aLabel.innerHTML = myLabels[i].innerHTML;


                            col.appendChild(aLabel);

                            const divInputGroup = document.createElement("DIV");
                            divInputGroup.classList.add("input-group");
                            divInputGroup.classList.add("mb-3")
                            const divInputGroupPrepend = document.createElement("DIV");
                            divInputGroupPrepend.classList.add("input-group-prepend");

                            const spanIcon = document.createElement("SPAN");
                            spanIcon.classList.add("spanColor");
                            spanIcon.classList.add("input-group-text");

                            let icon = document.createElement("ICON");


                            for (let j = 0; j < myIcons[i].classList.length; j++) {
                                icon.classList.value += myIcons[i].classList[j] + " ";
                            }

                            spanIcon.appendChild(icon);
                            divInputGroupPrepend.appendChild(spanIcon);
                            divInputGroup.appendChild(divInputGroupPrepend);

                            if (i <= 1) {
                                const newI = document.createElement("INPUT");

                                newI.setAttribute("type", inputs[i].type);
                                newI.setAttribute("placeholder", inputs[i].placeholder);
                                newI.setAttribute("name", inputs[i].name);
                                newI.required = true;
                                if (inputs[i].name === "ingredients[]") {
                                    newI.classList.add("searchIngredient");
                                }
                                if (inputs[i].name === "cantidades[]") {
                                    newI.setAttribute("min", inputs[i].min);
                                }

                                newI.classList.add("form-control");
                                newI.classList.add("ui-autocomplete-input");
                                divInputGroup.appendChild(newI);
                                col.appendChild(divInputGroup);
                                col.classList.add("col-sm");
                                divRow.appendChild(col);


                            } else {

                                const newS = document.createElement("SELECT");
                                newS.setAttribute("name", selects[k].name);
                                newS.required = true;
                                console.log(selects[k].name)
                                const optS = document.createElement("OPTION");
                                optS.value = selects[k].options[0].value;
                                optS.innerHTML = selects[k].options[0].value;

                                newS.appendChild(optS);
                                const optS2 = document.createElement("OPTION");
                                optS2.value = selects[k].options[1].value;
                                optS2.innerHTML = selects[k].options[1].value;
                                newS.appendChild(optS2);
                                newS.classList.add("form-control");
                                divInputGroup.appendChild(newS);
                                col.appendChild(divInputGroup);
                                col.classList.add("col-sm");
                                divRow.appendChild(col);

                                k++;
                            }
                        }
                        const col = document.createElement("DIV");
                        col.classList.add("col-sm");
                        const eliminar = document.createElement("INPUT");
                        eliminar.classList.add("btn");
                        eliminar.classList.add("btn-danger");
                        eliminar.classList.add("eliminar");
                        eliminar.setAttribute("type", "button");
                        eliminar.value ="Eliminar"
                        col.style.display="flex";
                        col.style["align-items"]= "center";
                        col.style["padding-top"]= "12px";
                        col.appendChild(eliminar)
                        divRow.appendChild(col);

                        
                        divRow.classList.add("row");
                        padre.appendChild(divRow);

                        $("form").on("click", ".eliminar", function (e) {
                            var targets = $(this).closest(".row");
                            $(targets).remove();
                        });
                   
                    };




                </script>



                <br><br>
                <input type="submit" id="mySubmit" class="btn btn-info" value="Submit" />

                <script>
                    $(function () {
                        $(".searchIngredient").autocomplete({
                            source: function (req, res) {
                                $.ajax({
                                    url: "insert/autocomplete/",
                                    dataType: "jsonp",
                                    type: "GET",
                                    data: req,
                                    success: function (data) {
                                        res(data);
                                    },
                                    error: function (err) {
                                        console.log(err);
                                    }
                                });
                            },
                            minLength: 1,
                            select: function (event, ui) {
                                console.log(event);
                                console.log(ui);
                                if (ui.item) {
                                    $('.searchIngredient').text(ui.item.label);

                                }
                            }
                        })
                    });
                </script>
                <script>
                    $("#bSubmit").on("click", () => {
                        $(".searchIngredient").autocomplete({
                            source: function (req, res) {
                                $.ajax({
                                    url: "insert/autocomplete/",
                                    dataType: "jsonp",
                                    type: "GET",
                                    data: req,
                                    success: function (data) {
                                        res(data);
                                    },
                                    error: function (err) {
                                        console.log(err);
                                    }
                                });
                            },
                            minLength: 1,
                            select: function (event, ui) {
                                console.log(event);
                                console.log(ui);
                                if (ui.item) {
                                    $('.searchIngredient').text(ui.item.label);

                                }
                            }
                        })
                    });
                </script>


            </form>
        </div>

        <form method="POST" id="search" , action='./insert'>
            <div class="wrap">
                <div class="search">
                    <input type="text" name="shrt_desc" class="searchTerm" placeholder="<%= items.myObject.busqueda %>">
                    <a id="submit-form-link" href="#"></a>
                    <button type="submit" class="spanColor searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <br><br>


        <% if ((items.myObject.tablaAlimentos.valores.length) > 0) { %>
            <div class="cardInside3">
        <table id="alimentos" class="table table-bordered table-hover table-sm">
            <thead class="thead-dark">
                <tr>

                    <% for (var i=0; i< items.myObject.tablaAlimentos.nombres.length; i++) { %>
                    <th> <%- items.myObject.tablaAlimentos.nombres[i] %> </th>
                    <% } %>

                </tr>
            </thead>
            <tbody>
                <% for (var i=0; i< items.myDocs.length; i++) { %>
                <tr>
                    <% for (var j=0; j< items.myObject.tablaAlimentos.valores.length; j++) { %>
                    <% if ((items.myDocs[i][items.myObject.tablaAlimentos.valores[j]]) === "") { %>
                    <td> - </td>
                    <% } else { %>
                    <td> <%= items.myDocs[i][items.myObject.tablaAlimentos.valores[j]] %> </td>
                    <% } %>
                    <% } %>
                </tr>
                <% } %>
            </tbody>

        </table>
    </div>
        <% } %>
    </div>
    <%- include ("../partials/footer.ejs"); %>



</body>

<script>
    $(document).ready(function () {
        $('#alimentos').DataTable({
            "language": {
             
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",

                "emptyTable": " "
            }
        });

    });
</script>

<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

</html>