<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inserción de platos desde un archivo - Jilorio</title>
    <link rel="shortcut icon" href="https://doorcountypulse.com/wp-content/uploads/2020/03/forkspoon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">.
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/dish.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/fondo3.css" />


    <!-- JQUERY AUTOCOMPLETE -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



</head>

<body class="jsonBody">
    <%- include ("../partials/navigation.ejs"); %>


    <div class="container">
        <div class="cardInside2">
        <h1><%= items.myObject.dish.title %></h1>
        </div>
        <%- include ("../partials/message.ejs"); %>
        <div class="cardJson">
            <br>

            <p class="ejemplo"><%= items.myObject.jsonDish.ejemplo %></p>
            <div class="d-flex justify-content-center align-items-center p-3 texto">
            <textarea name="textarea" class="textarea" rows="12" disabled><%= items.json %></textarea>
            </div>
           

            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">

                    <br> <br>
                    <i class="fas fa-file-upload fa-3x m-auto text-info">
                        <label for="avatar"><%= items.myObject.jsonDish.label %></label><br></i>
                    <br> <br>

                    <input type="file" class="btn  btn-outline-dark  btn-lg btn-block" name="filename" >
                    <br><br>
                    
                    <input type="submit" id="mySubmit" class="btn btn-info" value="Submit" />

                </div>
            </form>
            

            <br>
        </div>
    </div>

    <%- include ("../partials/footer.ejs"); %>
</body >



<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

</html>